* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #d6f0ff, #ffe0f0, #e0ffe6);
    color: #333;
}

header {
    background: linear-gradient(135deg, #a8d8ff, #ffd6e7);
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #1f3b5c;
}

.nav a {
    text-decoration: none;
    margin: 8px;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    background: #ffffffaa;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    background: #bde0fe;
    transform: scale(1.05);
}

main section {
    display: none;
    margin: 20px auto;
    width: 88%;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.1);
}

main section.activa {
    display: block;
}


#inicio { background: #e0f4ff; }        
#info { background: #fff0f6; }          
#lugares { background: #e8ffe8; }       
#gastronomia { background: #fff7cc; }   
#galeria { background: #e0f4ff; }       
#contacto { background: #fff0f6; }      


h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #1f3b5c;
    background: #ffffffaa;
    padding: 8px;
    border-radius: 10px;
}

h3 {
    color: #ff5c8a;
}


p {
    background: #ffffffaa;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}


#lugares {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.lugar {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.lugar:hover {
    transform: scale(1.03);
}

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.item {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.item:hover {
    transform: scale(1.03);
}

img {
    width: 100%;
    max-width: 240px;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 10px;
}

form {
    background: #ffffffaa;
    padding: 20px;
    border-radius: 15px;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

input:focus, textarea:focus {
    border-color: #a8d8ff;
}

button {
    background: linear-gradient(135deg, #a8d8ff, #ffd6e7);
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

#mensaje {
    text-align: center;
    margin-top: 10px;
    color: #2c3e50;
    font-weight: bold;
}
